{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Creation d'un nouveu meuble</h1>

    {{ include('article/_form.html.twig') }}
    <hr>
    <a href="{{ path('article_index') }}" class="btn btn-info">
        <i class="fa fa-arrow-left"></i> back to list
    </a>
{% endblock %}
